@charset "utf-8";


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.form-trip {
    display: flex;
    flex-direction: column;
    min-width: 400px;
    min-height: 500px;
    max-width: 500px;
    max-height: 600px;
    border: 1px solid black;
    justify-content: start;
    align-items: center;
    padding-top: 50px;
}

.form-1{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
}

button{
    margin: auto;
    width: 100%;
    font-size: 20px;
}

